<h2>You are almost ready to play {{.Data.Game.Game}} with {{.Data.Game.StreamerName}}, just give us your handle</h2>

<form name="updateHandle" action="/updateHandle" method="post" class="form-horizontal">
  <input type="hidden" name="game" value="{{.Data.Game.Game}}">
  <input type="hidden" name="gameId" value="{{.Data.Game.UUID}}">
  <fieldset>
    <div class="form-group">
      <label for="handle" class="col-lg-2 control-label">{{.Data.Game.Game}} Handle</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="handle" name="handle" value="{{.Data.CurrentHandle}}" placeholder="{{.Data.Game.Game}} Handle">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
