<h2 style="text-align: center">Copy and Paste this Link to your Twitch Chat</h2>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <input id="urlTI" type="text" class="form-control" style="text-align: center" value="{{ .Data.GameUrl }}" disabled>
  </div>
  <div class="col-lg-1"></div>
<div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <h3>Players Ready: {{ .Data.PlayerCount }}</h3>
  </div>
  <div class="col-lg-1"></div>
<div>

